@charset "UTF-8";
/**
 * 
 * @authors zhaoshi (you@example.org)
 * @date    2016-07-06 16:23:42
 * @version $Id$
 */

/* 引导页 */
.lead_wrapper{width:100%;min-width:1100px;height:920px;background: url(../images/lead_bg.jpg) no-repeat center top;overflow: hidden;}
.lead_main{width:1100px;margin:0 auto;overflow: hidden;}
.lead_top{width:100%;overflow: hidden;margin-top: 25px;}
.lead_top img{width:40px;height:40px;float: left;}
.lead_top p{float: left;line-height: 45px;padding-left: 5px;}
.lead_top p i{color:#5b8bab;font-size: 20px;font-family: "Microsoft Yahei";font-style:normal;}
.lead_top p span{font-family: "Raavi";font-size: 24px;color:#d3e7f4;}

.lead_body{width:100%;overflow: hidden;margin-top: 170px;}
.lead_logo{display: block;margin:0 auto;width:400px;height:150px;}
.lead_body nav{width:1010px;overflow: hidden;margin:140px auto 0;}
.lead_body nav a{display: block;width:165px;height:165px;border-radius: 1000px;background: #6dc8f8;float: left;margin:0 18px;}
.lead_body nav a:hover{background: #0f3c5b;}
.lead_body nav a p{font-size: 16px;font-family: "Microsoft Yahei";text-align: center;color:#fff;}
.lead_body nav a i{display:block;width:80px;height:80px;background: url(../images/lead_ico.png) no-repeat top center;margin:30px auto 0;}
.lead_body nav a i.lead_ico01{background-position: 0 0;}
.lead_body nav a i.lead_ico02{background-position: 0 -80px;}
.lead_body nav a i.lead_ico03{background-position: 0 -160px;}
.lead_body nav a i.lead_ico04{background-position: 0 -240px;}
.lead_body nav a i.lead_ico05{background-position: 0 -320px;}
.lead_main footer{margin-top: 140px;color:#999;font-size: 14px;}
.lead_main footer nav{margin:0 auto 15px;width:350px;}
.lead_main footer nav a{color:#999;margin:0 15px;}
.lead_main footer p{text-align: center;}

/* main */
.lead_img{width:1000px;height:220px;margin:0 auto 2px;display: block;}
.main{width:1000px;overflow: hidden;background: url(../images/main_bg.jpg) repeat-x top;margin:0 auto;background: #f6f6f6;}
.main_lt{width:220px;float: left;overflow: hidden;}
.main_lt_top{width:100%;overflow: hidden;padding-left: 10px;margin-top: 20px;}
.main_lt_top h3{font-size: 34px;font-family: "Impact";color:#0266cb;float: left;}
.main_lt_top i{color:#a5a5a5;float: left;font-size: 28px;margin:0 3px;}
.main_lt_top span{float: left;color:#666;font-size: 18px;margin:10px 0 0 10px;}
.main_lt ul{display: block;margin:20px 0 20px 20px;width:200px;overflow: hidden;}
.main_lt ul li{width:200px;display: block;height:28px;border-bottom: 1px solid #eee;margin:5px 0;}
.main_lt ul li:hover{background: url(../images/main_lt_li.png) no-repeat top;}
.main_lt ul li:hover a{color:#fff;}
.main_lt ul li.hover{background: url(../images/main_lt_li.png) no-repeat top;}
.main_lt ul li.hover a{color:#fff;}
.main_lt ul li i{padding: 0 20px 0 10px;font-size: 20px;font-weight: bold;color:#ccc;}
.main_lt ul li a{font-size: 13px;color:#666;}

.main_rt{width:750px;min-height:400px;float: right;overflow: hidden;margin-top: 30px;}
.main_rt_top{width:100%;overflow: hidden;background: url(../images/main_rt_top_bg.jpg) repeat-x bottom; height:40px;}
.main_rt_top h3{display: block;background: url(../images/main_rt_top_ico.png) no-repeat left center;padding-left: 30px;font-size: 16px;}

.introduction{width:100%;padding:10px 5px;overflow: hidden;}
.introduction p{text-indent: 26px;font-size: 13px;line-height: 24px;word-wrap: break-word;}

/* 产品展示 */
.pro_show{width:100%;overflow: hidden;margin:5px 0 50px;}
.pro_show_box{width:181px;display: block;overflow: hidden;margin:10px 3px 0;float: left;}
.pro_show_img{width:181px;height:225px;background: #e9e9e9;display: table;}
.pro_show_img i{display: table-cell;text-align: center;vertical-align: middle;}
.pro_show_img i img{max-width: 181px;max-height: 225px;}
.pro_show_txt{width:100%;display: block;overflow: hidden;-ms-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;line-height: 25px;font-size: 13px;margin-top: 5px;}
.pro_show_pri{width:100%;display: block;overflow: hidden;}
.pro_show_pri b{float: left;font-size: 14px;color:#f00;font-weight: normal;}
.pro_show_pri u{float: right;font-size: 14px;color:#888;text-decoration: line-through;}

/* 新闻动态 */
.news{width:100%;overflow: hidden;margin:10px auto;}
.news ul{width: 100%;overflow: hidden;margin:0 auto 20px;}
.news ul li{display: block;border-bottom: 1px dashed #e0e0e0;overflow: hidden;width:100%;line-height: 40px;padding: 0 4px;}
.news ul li a{color:#444;font-size: 14px;display: block;float: left;}
.news ul li a:hover{color:#f00;text-decoration: underline;}
.news ul li i{display: block;float: left;background: url(../images/news_li_ico.jpg) no-repeat center center;width:7px;height:11px;margin: 14px 10px 0 10px;}
.news ul li span{float: right;display: block;font-size: 13px;color:#666;padding-right: 10px;}


/*加入我们*/
.careers{width: 100%;overflow: hidden;margin:20px auto;}
.careers_tab{width:100%;}
.careers_tab td{font-size: 14px;padding: 5px;color:#666;}
.careers_tab_na{text-align: right;width:13%;}
.careers_add{line-height: 32px;font-size: 14px;padding:20px 0 0;color:#ff6600;display: block;}
.careers_add_img{margin: 15px 0;border:1px solid #ccc;overflow: hidden;width:100%;}
.careers_btn{background: #ff9d04;width:185px;height:50px;color:#fff;font-size: 18px;display: block;border:none;outline: none;cursor:pointer;margin:50px auto;}
.careers_p{line-height: 32px;font-size: 14px;padding:20px 0;color:#666;display: block;width:97%;}
#zhiwei p{height:30px;line-height:30px;overflow:hidden;display:block;font-size: 14px;color:#666;}
#zige p{height:30px;line-height:10px;overflow:hidden;display:block;font-size: 14px;color:#666;}
.careers_p span{display:block;line-height:32px;}

/*加入我们-人才理念*/
.idea{width: 100%;overflow: hidden;margin:20px auto;}
.idea p{line-height: 32px;font-size: 14px;padding:5px 0;color:#666;display: block;width:99%;}
.idea h3{padding: 10px 0 5px;}
.idea h4{font-size: 14px;font-weight: normal;padding:5px 0 0;}

/*加入我们-成长之星*/
.star{width: 100%;overflow: hidden;margin:10px auto;}
.star ul{width:100%;overflow: hidden;display: block;}
.star ul li{float: left;display: block;width:235px;overflow: hidden;margin: 10px 22px 20px 0;}
.star ul li img{max-width: 235px;display: inline-block;max-height: 330px;}
.star ul li h3{line-height: 45px;font-size: 18px;text-align: center;font-family: "Microsoft Yahei";}
.star ul li p{font-size: 13px;max-height: 95px;display: block;overflow: hidden;}











