@charset "utf-8";
/* CSS Document */
/*m_top*/
.m_top{width:100%;height:36px; background:#fff;position:relative; }
.m_top_box{padding:5px;overflow:hidden;}
.m_logo{display:block;position:absolute;left:10px;}
.m_logo i{width:100px;height:36px;display:block;}
.m_logo i img{ display:inline-block; width:100%; height:auto;}
.div_form{display:inline-block;width:100%;height:100%;margin-left:114px;padding-right:160px;}
.m_search{height:26px;border-radius:13px; border:1px solid #d2d2d2;line-height:26px;overflow:hidden;width:100%;}
.m_search input{line-height:24px;height:24px;margin-left:10px;float:left;width:75%; display:block; float:left;outline: none;border:none;}
.m_search button{display:block;float:right;width:22px;height:22px;background:none;margin:2px 2px 0 0;border:none;outline: none;}
.m_search button i{color:#999;}
.m_login{line-height:26px;font-size:14px;position:absolute;right:10px;display:inline-block;top:0px;}
.m_login a{ line-height:26px;font-size:15px;font-family:"Microsoft Yahei";margin-top:4px; display:block;}

/*m_banner*/
.m_banner{ position:relative;width:100%;height:auto;overflow:hidden;margin:0 auto;z-index:10;}
.m_banner .hd{position:absolute; height:20px; line-height:20px; bottom:0;left:45%; z-index:1;}
.m_banner .hd li{ display:inline-block; width:12px; height:12px; -webkit-border-radius:12px; -moz-border-radius:12px; border-radius:12px;text-indent:-9999px; overflow:hidden; margin:0 1.5px; background:#D0D0D0;}
.m_banner .hd li.on{ background:#f00;}
.m_banner .bd{ position:relative; z-index:0; }
.m_banner .bd li{position:relative;}
.m_banner .bd li img{width:100%;height:auto;display:inline-block;}
.m_banner .bd li .tit{ display:block; width:100%;  position:absolute; bottom:0; text-indent:10px; height:28px; line-height:28px;color:#fff; }

/*m_nav*/
.m_nav{margin-top:8px;padding:11px 3.125% 0; background:#fff; overflow:hidden;border:1px solid #ededed;}
.m_nav a{display:inline-block;text-align:center;padding-bottom:11px;float:left;width:25%;}
.m_nav a img{display:block;width:40px;height:40px;margin:0 auto 6px;}
.m_nav a span{font-size:12px;font-family:"Microsoft Yahei";}

/*m_special*/
.m_special{margin:8px auto;text-align:center;background:#fff;border:1px solid #ededed;}

.m_special_top{height:40px; line-height:40px; text-align:left; padding-left:15px;}
.m_special_top p{ display:inline-block; font-size:16px;font-family:"Microsoft Yahei";}
.m_special_top i{width:3px;height:12px;background:#f00;display:inline-block; margin-right:5px;}

.m_special .bd{overflow:hidden;width:100%;}
.m_special .bd li{width:48%;float:left;font-size:14px;overflow:hidden;margin:0 3px;}

.m_special .hd{ height:20px; overflow:hidden; font-size:0; }
.m_special .hd ul{ display:inline-block; padding-top:5px; }	
.m_special .hd li{ display:inline-block; width:8px; height:8px; background:#D0D0D0; margin:0 5px; vertical-align:top; overflow:hidden;-webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;}
.m_special .hd .on{ background:#f00;}

.special_img{display:table;width:100%;height:150px;border:1px solid #d8d8d8;overflow:hidden;}
.special_img a{display:table-cell;vertical-align:middle;text-align:center;}
.special_img a img{max-width:100%;max-height:150px;}
.special_na{width:95%;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#333; margin:0 auto; line-height:20px;}
.special_box{overflow:hidden;width:95%;margin:0 auto; line-height:25px;}
.special_box span{float:left; font-size:18px;color:#f00; font-family:Verdana;}
.special_box a{float:right;}
.special_box i{font-style:normal;text-decoration:underline;color:#999;float:left; font-size:12px;}
.special_buy{background:#f00;width:60px;height:20px;border-radius:4px;color:#fff; text-align:center;font-size:12px; line-height:20px;margin-top:3px;}
.special_buy:visited{color:#fff;}	
.special_store{font-size:12px;}

/*m_pro*/
.m_pro{margin:8px auto;text-align:center;background:#fff;border:1px solid #ededed;}

.m_pro_top{height:40px; line-height:40px; text-align:left; padding-left:15px;}
.m_pro_top p{ display:inline-block; font-size:16px;font-family:"Microsoft Yahei";}
.m_pro_top span{width:3px;height:12px;display:inline-block; margin-right:5px;}
.m_pro_top a{ float:right; margin-right:5px;color:#666;}
.m_pro_top a i{margin-left:2px;color:#666;}

.m_pro_main{border-top:1px solid #ededed;border-bottom:1px solid #ededed;overflow:hidden;}
.m_pro_main img{width:100%;}
.m_pro_img_lt{width:50%;float:left;display:inline-block;border-right:1px solid #ededed;margin-top:4%;}
.m_pro_img_rt01{width:50%;float:right;display:inline-block;border-bottom:1px solid #ededed;}
.m_pro_img_rt02{width:50%;float:right;display:inline-block;}

.m_pro_sort{overflow:hidden;padding:7px 0;}
.m_pro_sort a{ display:inline-block; float:left; border-right:1px solid #eaeaea;width:25%; font-size:12px;color:#666;margin:7px 0; font-family:"Microsoft Yahei";}
.m_pro_sort .red{color:#f00;}

.m_pro_br{ overflow:hidden;border-top:1px solid #ededed;}
.m_pro_br a{width:18%;border:1px solid #ededed; float:left; display:inline-block;margin:5px 3px;}
.m_pro_br a img{width:100%;}

/*1L-3L*/
.m_pro_top01 span{background:#ff6600;}
.m_pro_top02 span{background:#00913e;}
.m_pro_top03 span{background:#ec4040;}

/*m_guess*/
.m_guess_top{margin:5px auto;}
.m_guess_top p{font-size:16px;font-family:"Microsoft Yahei";width:100%; display:inline-block; text-align:center; line-height:20px;color:#666;}
.m_guess_top p i{width:35%;display:inline-block;height:2px;background:#d4d4d4;margin:0 2%;}
.m_guess_main{width:100%;overflow:hidden;padding-left:3px;}
.m_guess_main li{display:block;float:left;margin:5px 3px 0px;background:#fff;border:1px solid #ededed;width:48%;height:205px;padding:5px;}
.m_guess_img{display:table;width:100%;height:140px;}
.m_guess_img a{display:table-cell;vertical-align:middle;text-align:center;}
.m_guess_img a img{max-width:100%;max-height:140px;}
.m_guess_main li span{font-size:12px;line-height:14px;height:28px;overflow:hidden;display:block;margin-top:5px;}

.m_guess_pr{width:98%;overflow:hidden;text-overflow:ellipsis; white-space:nowrap;height:20px;line-height: 22px}
.m_guess_pr b{font-size:14px;color:#f00;font-family:"Verdana";}
.m_guess_foot{text-align:center; font-family:"Microsoft Yahei"; font-size:13px; line-height:40px;color:#666;}

/*m_footer*/
.m_footer{width:100%;background:#eaeaea;height:40px;}
.m_footer a{width:24%;display:inline-block;text-align:center;line-height:40px;font-size:13px;font-family:"Microsoft Yahei";color:#666;}







